<div class="row justify-content-center">
    <div class="col-md-10">
<div class="card bg-secondary mb-3">
  <div class="card-header">
      <h3>Income</h3>
  </div>
<div class="card-body">
<form class="form-horizontal" [formGroup]="idForm" (ngSubmit)="calculate()" autocomplete="off" novalidate>
  <fieldset>
  <div class="form-group row"  [ngClass]="{'has-error': (idForm.get('grossSalary').touched || 
                                                    idForm.get('grossSalary').dirty) &&
                                                    !idForm.get('grossSalary').valid }">
    <label class="col-md-3 control-label" for="grossSalaryId">Gross Income</label>
    <div class="col-md-3">
          <input type="text" 
              class="form-control" 
              placeholder="Enter income $"
              id="grossSalaryId"
              formControlName="grossSalary" />
      </div>
      <div>
        <span class="help-block" 
                  *ngIf="(idForm.get('grossSalary').touched || 
                          idForm.get('grossSalary').dirty) && 
                          idForm.get('grossSalary').errors">
                            <span *ngIf="idForm.get('grossSalary').errors?.required" class="alert alert-danger">
                              Amount can't be empty
                            </span>
                            <span *ngIf="idForm.get('grossSalary').errors?.patternInvalid" class="alert alert-danger">
                              Amount doesn't seem right
                            </span>
                            <span *ngIf="idForm.get('grossSalary').errors?.numericRangeInvalid" class="alert alert-danger">
                              Must be greater than 0
                            </span>
                        </span>
      </div>
  </div>
  <div class="form-group row pad-left-30">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <input type="checkbox" 
          class="form-check-input"
          id="includesSuperId"
          formControlName="includesSuper"
          (change)="toggleInclSuper($event)" />
      <label class="form-check-label" for="includesSuperId">Includes superannuation</label>
    </div>
  </div>
  <div class="form-group row top-buffer-25"
              [ngClass]="{'has-error': (idForm.get('superannuation').touched || 
                                        idForm.get('superannuation').dirty) &&
                                        !idForm.get('superannuation').valid }">
        <label class="col-md-3" for="superannuationId">Superannuation</label>
      <div class="col-md-3">
          <input type="text"
            class="form-control"
            placeholder="Enter superannuation %"
            id="superannuationId"
            formControlName="superannuation" />
      </div>
      <div>
      <span class="help-block" 
                  *ngIf="(idForm.get('superannuation').touched || 
                          idForm.get('superannuation').dirty) && 
                          idForm.get('superannuation').errors">
                          <span *ngIf="idForm.get('superannuation').errors?.required" class="alert alert-danger">
                              Amount can't be empty when 'Includes Superannuation' is selected
                            </span>
                            <span *ngIf="idForm.get('superannuation').errors?.patternInvalid" class="alert alert-danger">
                              Amount doesn't seem right
                            </span>
                            <span *ngIf="idForm.get('superannuation').errors?.numericRangeInvalid" class="alert alert-danger">
                              Must be between 9.5 and 100
                            </span>
                           </span>
                           </div>
  </div>
  <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!idForm.valid">
              Calculate
          </button>
      </span>
      </div>
      <div class="col-md-2">
        <span>
          <button class="btn btn-primary" (click)="reset()">
              Reset
          </button>
      </span>
      </div>
  </div>
</fieldset>
  </form>
</div>
</div>
</div>
</div>