<div class="row justify-content-center">
  <div class="col-md-10">
<div class="card mx-auto bg-secondary mb-3">
  <div class="card-header">
      <h3>Tax details</h3>
  </div>
<div class="card-body">
<div class="row  pad-bot-10">
  <div class="col-md-3">Superannuation</div>
  <div class="font-thick">${{taxDetails.Superannuation | number : '1.2-2'}}</div>
</div>
<div class="row  pad-bot-10">
  <div class="col-md-3" [innerHTML] = "getGrossIncomeLabelText()"></div>
  <div class="font-thick">${{taxDetails.GrossAmount | number : '1.2-2'}}</div>
</div>
<div class="row  pad-bot-10">
  <div class="col-md-3">Tax</div>
  <div class="font-thick">${{taxDetails.Tax | number : '1.2-2'}}</div>
</div>
<div class="row  pad-bot-10">
  <div class="col-md-3">Net</div>
  <div class="font-thick">${{taxDetails.NetAmount | number : '1.2-2'}}</div>
</div>
<div class="row  pad-bot-10">
  <div class="col-md-3">Net + Superannuation</div>
  <div class="font-thick" [innerHTML]="getNetWithSuperAmount()"></div>
</div>
</div>
</div>
</div>